# String Data Type in Python.

In [1]:
print("Hello, World!")

Hello, World!

In [10]:
# boundries
# 'string text', "string text", '''string text''', """string text"""
name : str = 'Hello'
print(type(name))
print(name)

<class 'str'>
Hello

In [11]:
message : str = 'My name "Kinzer Rahman Mir" \n Father name'
print(message)  # outside single quote oor inside double qoutes use krne hai

My name "Kinzer Rahman Mir"
 Father name

In [12]:
# convert any special character into simple charater, use / before special charater
message : str = 'Piaic Student Card \n father\'s Name '
print(message)

Piaic Student Card
 father's Name

In [13]:
"a" + "b" + "c"  # called concatination

'abc'

In [14]:
"a" + str(7)  # from this 7 will convert to string mtlb ap () parameters me 7 pass krrhe oor function ke paramaters ko str assign krrhe

'a7'

Type casting problem

In [22]:
name : str = "John"
fname : str = "Doe"
education : str = "Masters"
age : int = 30    
card : str = "Piaic Student Card \n Student Name: " + name + "\nAge" + age # it will give you erro bec age type is integer and the name type is string so confilt occur, comparison must be str with str and int with str 
print(card)

TypeError: can only concatenate str (not "int") to str

In [31]:
# \n for next line and \ it's used to write a code in next line, but in result you will get a code in one line 
name : str = "John"
fname : str = "Doe"
education : str = "Masters"
age : int = 30     
card : str = "Piaic Student Card\nStudent Name: " + name +\
"\nAge:" + str(age) + "\n" + \
"Education:" + education  # it will give you erro bec age type is integer and the name type is string so confilt occur, comparison must be str with str and int with str


print(card)

Piaic Student Card
Student Name: John
Age:30
Education:Masters

# \ Used for Line continue

In [28]:
print (5 + \
       7 + \
       11)   # if i want to continue in next line to organized, without disrupting code you can follow this method

23

Define multiline strings """ or '''

In [33]:
# below we mentioned f called f string, here good point is we donn't have to change the type of age into str menas we don't have to face the type casting problem
# f string power is that you can pass any variable such as name we have mentioned and we can pass any numerical function such as Total, mentioned below.
name : str = "John"
fname : str = "Doe"
education : str = "Masters"
age : int = 30      # ''' or """"
card : str = f"""    
Piaic Student Card
Student Name :{name}
Education : {education}
Age : {age}
Father Name : {fname} 
Total : {1+2+3}
"""

print(card)

Piaic Student Card
Student Name :John
Education : Masters
Age : 30
Father Name : Doe
Total : 6

In [ ]:
name : str = "John"
fname : str = "Doe"
education : str = "Masters"
age : int = 30      # `` this will show you error.
card : str = f`    
Piaic Student Card
Student Name :{name}
Education : {education}
Age : {age}
Father Name : {fname} 
`

print(card)

F-string and Jinja-string

In [36]:
# F-string style
f"""student name : {name}"""

'student name : John'

In [ ]:
# Jinja style
f"""student name : {{name}}"""

In [41]:
name : str = "KinZer Mir"
print(name.capitalize())
print(name.casefold())

Kinzer mir
kinzer mir

Methods of string

In [46]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [43]:
# .format
a = 8 
b = 7
# {} place hoder
#                    0                1         0,1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 8 and value b = 7'

error

In [48]:
# .filter  
name : str = "John"
fname : str = "Doe"
education : str = "Masters"
age : int = 30      # ''' or """"
card : str = """    
Piaic Student Card
Student Name :{}
Education : {}
Age : {}
Father Name : {}
""".format(fname, name , education, age)
# in above example the fault is sequence which i gave and the sequence which i get in result is totaly opposite.
print(card)

Piaic Student Card
Student Name :Doe
Education : John
Age : Masters
Father Name : 30

In [49]:
# .filter  
name : str = "John"
fname : str = "Doe"
education : str = "Masters"
age : int = 30      # ''' or """"
card : str = """    
Piaic Student Card
Student Name :{0}
Education : {2}
Age : {3}
Father Name : {1}
""".format(fname, name , education, age)
#           1       0       2       3 
# for sequential coding i positioned indexing.
print(card)

Piaic Student Card
Student Name :Doe
Education : Masters
Age : 30
Father Name : John

In [50]:
# .filter  
name : str = "John"
fname : str = "Doe"
education : str = "Masters"
age : int = 30      # ''' or """"
card : str = """    
Piaic Student Card
Student Name :{b}
Education : {c}
Age : {d}
Father Name : {a}
""".format(a = fname, b= name , c= education, d= age)
print(card)

Piaic Student Card
Student Name :John
Education : Masters
Age : 30
Father Name : Doe

 Exploring string methods and attribute
pre-defined functions we have used
* print
* id
* type
* dir

In [51]:
a : list[str] = [i for i in dir(str) if "_" not in i]
print(a)   # showing string methods
print(len(a)) # showing it's length

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
46

In [53]:
name : str = "Hanry"
# variable_name.method()
print(name.lower())
print(name)

hanry
Hanry

In [54]:
name : str = "              Hanry           "
# variable_name.method()
# remove left side space
display(name.lstrip())
display(name)

'Hanry           '

'              Hanry           '

In [57]:
name : str = "              Hanry           "
# variable_name.method()
# remove right side space
display(name.rstrip())
display(name)

'              Hanry'

'              Hanry           '

In [65]:
import re  
# rejex impor rejex to avoid spaces
name : str = "              Hanry     Martin          "

name1 : str = re.sub(" {2,100}"," ",name)  # 2 ya 100 tak agr space hu tu single space krdo name me
name2 : str = re.sub(" {2,100}"," ",name).strip() # to avoid spaces fromm both sides.
display(name1)
display(name2)

' Hanry Martin '

'Hanry Martin'

In [66]:
name : str = "hanry peter"
# it will captial the first word of each word.
print(name.title())
print(name)

Hanry Peter
hanry peter

In [70]:
print("Name:\bpeter")
# remove the backspace letter
print("Name:\bpeter\b")

Namepeter
Namepete

In [71]:
url : str = "https://daraz.con"
url.removeprefix("https://")  # for remove from start

'daraz.con'

In [72]:
my_name = "peter son"
print(my_name.title())

Peter Son