# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

# Python Arthematic Opertors

In [4]:
import pandas as pd
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]  
# This line of code directly accesses the first table from the list returned by pd.read_html().

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [5]:
# modulus
a : int = 11
b : int = 9
print(a%b)

2

In [6]:
# Division
print(14 / 3)

4.666666666666667

In [7]:
# Floor Division it won't round of the value 
# points ke baad wale value ko show nahe karta
print(14 // 3)

4

# Python Assignment Operators

In [8]:
# just write table 1   
table[1]

   Operator        Example         Same As    Try it
0         =          x = 5           x = 5  Try it »
1        +=         x += 3       x = x + 3  Try it »
2        -=         x -= 3       x = x - 3  Try it »
3        *=         x *= 3       x = x * 3  Try it »
4        /=         x /= 3       x = x / 3  Try it »
5        %=         x %= 3       x = x % 3  Try it »
6       //=        x //= 3      x = x // 3  Try it »
7       **=        x **= 3      x = x ** 3  Try it »
8        &=         x &= 3       x = x & 3  Try it »
9        |=         x |= 3       x = x | 3  Try it »
10       ^=         x ^= 3       x = x ^ 3  Try it »
11      >>=        x >>= 3      x = x >> 3  Try it »
12      <<=        x <<= 3      x = x << 3  Try it »
13       :=  print(x := 3)  x = 3 print(x)  Try it »

In [9]:
a : int = 3
print(a)
a += 2
print(a)

3
5

In [10]:
a : int = 3
print(a)
a *= 2
print(a)

3
6

# Python Comparison Operators

In [11]:
table[2] # value compare krna

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [12]:
a : int = 3
b : int = 2
print(a == b)

# a == b
# 3 == 2
# False

False

In [13]:
a : int = 2
b : int = 2
print( a == b )

True

In [14]:
a : int = 23
b : str = "23"
print ( a == b)
# a == b 
# here we don't have a concept of === line in javascript
# 23 == 23
# Flase

False

In [16]:
a : int = 23
b : int = 23
print ( a != b)
# means a b ke equal nahe hai jbke a tu b ke equal hai
# a == b 
# False

False

In [17]:
a : int = 23
b : int = 24
print ( a > b)
# false

False

In [18]:
a : int = 23
b : int = 23
print ( a > b)
# false

False

In [19]:
a : int = 23
b : int = 24
print ( a < b)
# True

True

In [20]:
a : int = 23
b : int = 24
print ( a <= b)
# greate than ka symbol pehle ana chya 
# True

True

# ASCI Code 
(American Standard Code for Information Interchange)

* A = 65
* Z = 90

* a = 97
* z = 122

* 0 = 48
* 0 = 57

In [26]:
a : str = "A"
b : str = "a"
print ( a <= b) 
# b = 97 to 122
# a = 65 to 90

True

In [34]:
ord("m") # to get it's asci number

109

In [35]:
chr(109) # to the alphabet conversion

'm'

# Python logical operator

In [36]:
table[3]  # also called logical operator

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

* and means must (lazmi) both conditons be true
* or means optional dono me se aik be true ho tu chale ga

In [41]:
print (True and True and True and True)  # must be all true in comparison

True

In [40]:
print (True and False and True) # must be all ture or all false in comparison

False

In [47]:
print (True or False or False)  # mtlb in theeno me se koi aik condtion bh available hu tu true krdo 
print (False or False or False) # agr aik condition bh available na hu tu false krdo

True
False

In [48]:
not True # you can negate true by using not operator.

False

In [49]:
name : str = "Qasim"
print(not name == "Qasim")
# name ko negate krdia mtlb true condtion ko false krdia 
# here we negate the name by using the not operator, which changes the condition from true to false

False

# Python Identity Operator

In [50]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [53]:
x : str = "abc"
z : str = "abc"
print(id(x))
print(id(z))
# here we checked the backend value

140736678466712
140736678466712

In [54]:
x is z 
# both value has same physical place | backend place

True

In [55]:
x : str = "abc"
z : str = "abc"
print(id(x))
print(id(z))

x is not z
# conditon will be false bec it negate the true condion

140736678466712
140736678466712

False

# Python Membership Operators

In [56]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [62]:
name : list[str] = [chr(i) for i in range(65,91)] # iterates over each integer in the range from 65 to 90, applies the chr() function to convert it to the corresponding character
name

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [67]:
name : list[str] = [chr(i) for i in range(65,91)]
"D" in name
# go and check D is in the list, if it own's then return True other wise return false

True

In [68]:
name : list[str] = [chr(i) for i in range(65,91)]
"Pakistan" in name

False

In [12]:
names : str = ["John","Peter","Hanry" ]
user_input : str = input("Enter your name:")
user_input in names
# run time pr batata hai ke data apke pas hai ke nahe when you run it at top middle input bar will open and in input bar write John then enter you will get true bec at run time you checked the data, is data present in the list or not

True

In [13]:
names : str = ["John","Peter","Hanry" ]
user_input : str = input("Enter your name:")
user_input not in names # it will negate the code, means it change the condition from true to false or from false to true let's say i gave John in input bar the result i got is False bec it negate the codition
# run time pr batata hai ke data apke pas hai ke nahe when you run it at top middle input bar will open and in input bar write John then enter you will get true bec at run time you checked the data, is data present in the list or not

False

<img src = ""https://th.bing.com/th/id/OIP.YFEPvz5rHtCn1nmzEcfVAwHaGO?rs=1&pid=ImgDetMain">
copy link from google and past it like this, resulting fetching a image

<img src = "https://th.bing.com/th/id/OIP.YFEPvz5rHtCn1nmzEcfVAwHaGO?rs=1&pid=ImgDetMain">

## PEMDAS
* Paranthesis
* Exponent
* Multiplication
* Addition
* Subtraction

In [15]:
print(3 + 2 -2 * 4 / 2 + 4)
print(3 + 2 -2 * 4 // 2 + 4)

5.0
5

In [16]:
billion : int = 12_000_000_000
print(billion)
# this is the method to write billion

12000000000

In [20]:
# unzip method
a, b, c = "Qasim", 23, 9.8
print(a, b, c )

Qasim 23 9.8

In [24]:
data = ("Qasim", 23, 9.8)
print(data[0], data[1], data[2])
#             or 
# the convenient way is 
data = ("Qasim", 23, 9.8)
print(*data)

Qasim 23 9.8
Qasim 23 9.8

In [25]:
2 * 2
"a" * 3

'aaa'

## Warlus Operator
it allows you to assign a value to variable in a expression. This can be helpful when you need to use a value multiple times in a loop, but don't want ot repeat a calculation.

In [26]:
a : int = 2
if(a < (b := a + 5 ) ):
    print(b)
else:
    print("b is less than a")

7

In [28]:
""" 
lasdf 
skdjfh
asdkfj


"""
# """ we can used triple qoutes to comment the code.
print("hello")

hello