# List 
* Operation with loop
* apply any operation on element

In [1]:
# in jupyter notebook we don't hav a intelesence option.
name : list[str] = ["Sir zia", "Qasim","Numan"]
print(name)

['Sir zia', 'Qasim', 'Numan']

In [19]:
names : list[str] = ["Sir zia", "Qasim","numan"]
# through for loop we can iterate over each element. 
# Names will be assigned to name, meaning names element will be assigned to name, and for will iterate over each element, and excecute each element saperately.
for name in names:
    print(name)

Sir zia
Qasim
numan

# Structure of loop
### for `name` in `names` `:`
###    print(`name`)

In [21]:
for name in names :
    print(f'Welcome Dear Teacher {name.title()}')
# title will capitalize the first alphabet of each element.

Welcome Dear Teacher Sir Zia
Welcome Dear Teacher Qasim
Welcome Dear Teacher Numan

In [7]:
names : list[str] = ["Sir zia", "Qasim","numan"]
for name in names :   # : This colon indicates that all the intended prints will have iterated. But the Hello world line is out of for loop that's why iteration won't applied 
    print(f'Welcome Dear Teacher {name.title()}')
    print("Jazaka Allah\n")
print("Hello world")
print("Okay")

Welcome Dear Teacher Sir Zia
Jazaka Allah

Welcome Dear Teacher Numan
Jazaka Allah

Hello world
Okay

In [18]:
names : list[str] = ["Sir zia", "Qasim","numan"]
# for name in names [2:] :  
        # OR
for name in names [::-1] :  
    print(f'Welcome Dear Teacher {name.title()}')
    print("Jazaka Allah\n")
print("Hello world")
print("Okay")

Welcome Dear Teacher Numan
Jazaka Allah

Welcome Dear Teacher Qasim
Jazaka Allah

Welcome Dear Teacher Sir Zia
Jazaka Allah

Hello world
Okay

In [19]:
# First go to vscode for intelesence, you can write code on vs code in the same folder under the file class.py
# tuple : Tuples are defined by enclosing the elements in parentheses ()
# tuple : Tuples are often used for returning multiple values from a function
# tuple : Immutable: Once a tuple is created, its elements cannot be modified.
data_base : list[tuple[str,str]] = [ 
    ("qasim","123"),
    ("hanry","321"),
    ("martin","986"),
]

for row in data_base :
    print(row)
# Result :-
# ('qasim', '123')  here value is stored in tuple
# ('hanry', '321')
# ('martin', '986')

('qasim', '123')
('hanry', '321')
('martin', '986')

In [21]:
data_base : list[tuple[str,str]] = [ 
    ("qasim","123"),
    ("hanry","321"),
    ("martin","986"),
]

for row in data_base :
    user, password = row  # unzipping
    print(user, password)

# Result :- 
# values will stored in variables.
# the process is called un-zipping

qasim 123
hanry 321
martin 986

In [22]:
input_user : str = input("Enter your name")
print(input_user)
# input is a function, through wich we can write value in run time. The value will stored in a variable.

Enter your name Kinzer Mir

Kinzer Mir

In [31]:
data_base : list[tuple[str,str]] = [ 
    ("qasim","123"),
    ("hanry","321"),
    ("martin","986"),
]

input_user : str = input("Enter your name")
input_password : str = input ("Enter your password")

for row in data_base :
    
    user, password = row  
    if input_user == user and input_password == password :
        print("Valid User")
        break
else : # must write else condition outside the if 
        print("Not Found or Invalid User")



# On above code first we apply loop to iterate on each element then to get single element saperately we used un-zip function, for un-zipping we made two variables under the name user and password.
# Later we made input and on input we applied if condition and compared with un-zipped variables.

Enter your name hanry
Enter your password 321

Valid User

In [32]:
data_base : list[tuple[str,str]] = [ 
    ("qasim","123"),
    ("hanry","321"),
    ("martin","986"),
]

input_user : str = input("Enter your name")
input_password : str = input ("Enter your password")

for row in data_base :
    
    user, password = row  
    if input_user == user and input_password == password :
        print("Valid User")
        break
else : # must write else condition outside if condition, bec when for loop iterate over elements and if he don't able to find element then he will go to else condition and if we found an element during iteration then for loop move to if condition.
        print("Not Found or Invalid User")



# On above code first we apply loop to iterate on each element then to get single element saperately we used un-zip function, for un-zipping we made two variables under the name user and password.
# Later we made input and on input we applied if condition and compared with un-zipped variables.

Enter your name asd
Enter your password asd

Not Found or Invalid User

In [33]:
# Syntax error
data_base : list[tuple[str,str]] = [ 
    ("qasim","123"),
]

for row in data_base :
user, password = row  # unzipping
    print(user, password)

IndentationError: expected an indented block after 'for' statement on line 7 (3805732758.py, line 8)

In [35]:
magicians : list[str] = ["Hanry", "Martin", "David"]

for magician in magicians :
    print(f"{magician.title()}, that was a great trick") # this is called local variable. It is access in particular block such as loop block or if block, meaning boundry ke andr bane oor boundry ke andr he access hu called local variable.
# it will access the last element
print(f"I cann't wait to see your next trick {magician.title()}") # this is called global variable. It can access out side the particular block.

Hanry, that was a great trick
Martin, that was a great trick
David, that was a great trick
I cann't wait to see your next trick David

In [49]:
# it will show list(iteration) plus index numbers.
magicians : list[str] = ["Hanry", "Martin", "David"]
list(enumerate(magicians))

[(0, 'Hanry'), (1, 'Martin'), (2, 'David')]

In [60]:
# iteration through loop instead of list, showing index plus name, so for that we un-zipped into two variables.
magicians = ["Hanry", "Martin", "David"]

for index, name in enumerate(magicians):
    print(index, name)

0 Hanry
1 Martin
2 David

In [37]:
# when you do unecassary intendation you will have to faced error.
message : str = "How do you do"
    print(message)

IndentationError: unexpected indent (1559256344.py, line 2)

# Numbers with loop 
* `range(start,end,step)`

In [38]:
# range 10 means 0,1,2,3,4,5..10 but below it showes 0,10 be it's can't call directly, it's generated function isko chalana parta hai so for excecution we perform iteration through list
range(10)

range(0, 10)

In [39]:
# For iteration we used list function to iterate on each element 
list(range(10)) # by default starting = 0, and ending n-1 tak show krega

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
list(range(2,21,2)) # step 2 meaning 2 ka gap ay ga

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [43]:
list(range(2,21,3)) # step 3 meaning 3 ka gap ay ga

[2, 5, 8, 11, 14, 17, 20]

In [45]:
# for loop also applying iteration that's why i didn't apply list
for n in range(2,21,2) :
    print(n)

2
4
6
8
10
12
14
16
18
20

In [62]:
for n in range(2,21,2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [68]:
# 2 Table with the help of range.
for n in range(1,11): # start from 1 and ending at 10 (n-1)
    print(f'{2} X {n} = {n*2}')
print("\nA Table of Two")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

A Table of Two

In [72]:
squares : list[int] = []
for value in range(1,11):
    square = value ** 2   # local variable
    squares.append(square)  # add elements
print(squares)

# But to avoid so many steps we perform LIST COMPREHENSIVE.

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# list Comprehensive.
```
for item in itmes :
    loop_body
```
## Comprehensice Style
```
[loop_body for item in itmes]  
```
* body ko sb se pehle likh daina

In [77]:
for i in range(1,11):
    print(i ** 2)  
# lengthy process

1
4
9
16
25
36
49
64
81
100

In [76]:
# Comprehensive style 
[i ** 2 for i in range(1,11)]  # i**2 is body and according to comprehensive structure body comes first.

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [79]:
# without print option it will return last element
'line1'
'line2'
'line3'

'line3'

In [80]:
# with print it will return all elements
print("line 1")
print("line 2")
print("line 3")

line 1
line 2
line 3

In [88]:
numbers : list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(numbers)
print(max(numbers))
print(min(numbers))
print(sum(numbers))
print(min(numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
9
1
45
1

In [94]:
my_food : list[str] = ["pizza", "carrot cake"]
friend_food = my_food[:]   # modified copy called deep copy, meaning slicing won't affect over orignal variable/
print(my_food)
print(friend_food)

friend_food [0] = "Banana Cake"
print(my_food)
print(friend_food)

['pizza', 'carrot cake']
['pizza', 'carrot cake']
['pizza', 'carrot cake']
['Banana Cake', 'carrot cake']

# Tuples
* immutable mtlb is me koi cheez append nahe ho sakte and nor update.

In [100]:
# tuple start with round brackets ()
names : tuple[str] = ("A", "B", "C")
print(names[0])
print(names[0:3:2])

A
('A', 'C')

In [101]:
# error cuz tuple is immutable.
names : tuple[str] = ("A", "B", "C")
names[0] = "D"
print(names)

TypeError: 'tuple' object does not support item assignment

In [102]:
from typing import Any
data : tuple[Any] = ("A", True, [1,2,3])
print(data)

('A', True, [1, 2, 3])

In [113]:
from typing import Any
data : tuple[Any] = ("A", "B", [1,2,3])
print(data[2])
data[2].append(20)  # here we updata the object (which is inside tuple) not tuple. meaning you can update object in tuple not tuple.
print(data)

[1, 2, 3]
('A', 'B', [1, 2, 3, 20])

In [1]:
sorted([1,2,3,1,2,1])

[1, 1, 1, 2, 2, 3]